<section class="login-box">
<h1 class="login-h1">ACCESS TO YOUR ALBUMS</h1>

<ul class="login-form">
  
  <li><form action="/auth/login" method="POST">
  <label for="email">Email</label><br>
  <input id="username" type="text" name="email" placeholder="Enter your email" class="login-email-box"></li>

  <li><label for="password">Password</label><br>
  <input id="password" type="password" name="password" placeholder="*********" class="login-pass-box"></li>

  <li>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}
  </li>

  <li><button class="login-button">LOGIN</button></li>

  <li>
    <p class="account-message">Don't have an account yet?</br>
    <button class="signup-button-home"><a href="/auth/signup">SIGN UP</a></button>

    </p>
  </li>
</form>

</ul>

</section>
