<h2>Signup</h2>

<form action="/auth/signup" method="POST" id="form-container">
  <label for="email">Email address</label>
  <input id="email" type="email" name="email" placeholder="Enter your email address">

  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  <br><br>

  <label for="alias">Alias</label>
  <input id="username" type="text" name="alias" placeholder="How do you want to be seen">

  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button>Create account</button>

  <p class="account-message">
    Do you already have an account?
    <a href="/auth/login">Login</a>
  </p>
</form>
