<section class="signup-box">
<h1 class="signup-h1">JOIN RIJKSMUSEUM</h1>

<ul class="signup-form">
      <li><form action="/auth/signup" method="POST">
        <label for="alias">Name/Alias</label>
        <input id="username" type="text" name="alias" placeholder="How do you want to be seen" class="signup-alias-box"></li>
        
       <li><label for="email">Email address</label>
        <input id="email" type="email" name="email" placeholder="Enter your email" class="signup-email-box"></li>

        <li><label for="password">Password</label>
        <input id="password" type="password" name="password" placeholder="*********" class="signup-pass-box"></li>

        {{#if message }}
          <div class="error-message">{{ message }}</div>
        {{/if}}

        <li><button class="signup-button">SIGN UP</button></li>

        <li><p class="account-message">
            Do you already have an account? <br>
            <button class="signup-button-home"><a href="/auth/login">LOG IN</a></button>
            
            </p>
        </li>
      </form>

</ul>

</section>