<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/albums/showAllAlbums">ir a albums de una persona</a>


{{#each data}}
  <a href="artpiece/{{objectNumber}}">
      <img src="{{webImage.url}}">

  </a>
  {{/each}}


