<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


{{#if data}}
  {{#each data}}
    <img src="{{image}}">
    <form method="POST" action="/albums/delete/img/{{_id}}">
      <button type="submit">DELETE</button>
    </form>
  {{/each}}
{{/if}}

