<section class="search-container">
  {{#each response}}
      <article class="search-single-box">

        {{#if webImage}}
          <img src="{{webImage.url}}" class="search-single-img">
        {{else}}
          <img src="../images/not-found.jpg">
        {{/if}}

        <p class="search-title">{{title}}</p>
        <p class="search-author">{{principalOrFirstMaker}}</p>

      </article>

    {{/each}}
</section>
