<section class="album-container">
{{#each album}}
  
    <article class="single-album">
      <div class="cuadro"></div>

      <p class="album-name">{{albumName}}</p>
      <p class="album-description">{{albumDescription}}</p>

    </article>

{{/each}}

<a href="/albums/create">
  <div class="cuadro" style="width:350px">
    <p style="font-size:40px">+</p>
  </div>
</a>
</section>