<section class="album-container">
{{#each album}}
  
    <article class="single-album">
      <div class="cuadro"></div>

      <p class="album-name">{{albumName}}</p>
      <p class="album-description">{{albumDescription}}</p>

    </article>

{{/each}}
</section>